@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
}

html, body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

/* Links padrão */
a {
  @apply transition-colors duration-200;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll-left {
  animation: scroll-left 50s linear infinite;
  width: max-content;
}

.animate-scroll-right {
  animation: scroll-right 50s linear infinite;
  width: max-content;
}

/* Pausa a animação com o mouse em cima */
.pause-on-hover:hover {
  animation-play-state: paused;
}