@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";
/* Importando a fonte Inter para dar cara de software moderno */

@theme {
  /* Define a Inter como fonte padrão */
  --font-sans: 'Inter', sans-serif;
  
  /* Ajustando o Laranja para ser vibrante, mas não saturado demais (estilo tech) */
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
}

html, body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

/* Utilitário para links padrão */
a {
  @apply transition-colors duration-200;
}